<!DOCTYPE html>
<html ng-app="movieplug">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/soon.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
</head>

</head>

<body ng-controller="film_id">

  <!-- START HEADER -->
  <section id="header">
      <div class="container-fluid">
          <header>
              <!-- HEADLINE -->
              <h1 data-animated="GoIn" class="text-center">
                  <b>
                      Sci-Fi</b> <br>
                    Movies List
                  </h1>
          </header>


      <!-- GRILLE -->
      <div class="container-fluid films-display">
        <div ng-repeat = "a in film_list">
          <div class="col-md-3">

            <img  class="img-films" src="https://image.tmdb.org/t/p/w640{{i.poster_path}}" ng-repeat="i in a|filter:query" ng-click="show_infos(i)" />
            <h4>{{i.original_title}}</h4>
          </div>
        </div>
      </div>

      <!-- MOVIES INFO  -->
      <div id="info-div">
        <img src="{{img}}" class="img-films"/>
        <h4>{{title}}</h4>
        <p>{{overview}}</p>
        <p> Release date : {{date}}</p>
        <p>Vote rating : {{vote}}</p>
        <a class="trailer" href="http://www.youtube.com/watch?v={{videoId}}&amp;autoplay=1">Trailer {{title}}</a>
      </div>

    </div>   <!-- END container fluid  -->
 </section> <!-- END SECTION/PAGE -->

 <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
 <script src="assets/js/soon/plugins.js"></script>
 <script src="assets/js/soon/jquery.themepunch.revolution.min.js"></script>
 <script src="assets/js/soon/jquery.themepunch.revolution.min.js"></script>
 <script src="assets/js/soon/custom.js"></script>
    <script src="film_id.js" charset="utf-8"></script>
    <script src="scriptTrailer.js" charset="utf-8"></script>
</body>

</html>
